* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

body {
	font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto,
		Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
	background-color: #f2e9e4;
}

.header {
	background-color: #22223b;
}
/* ! navbar */
.navbar {
	max-width: 1460px;
	display: flex;
	justify-content: space-between;
	align-items: center;
	margin: 0 auto;
	color: white;
	padding: 15px 0;
}

.cart {
  position: relative;
	background-color: #fff;
	color: #22223b;
	font-size: 30px;
	padding: 5px;
	border-radius: 5px;
}

.cartAmount{
  position: absolute;
  top: -12px;
  right: -9px;
  padding: 3px;
  background-color: rgb(166, 21, 21);
  font-size: 16px;
  color:white;
  border-radius: 3px
}
